body {
  background-color: #E4F9F5;
  text-align: center;
  margin: auto;
}
.top-container {
  background-color: #E4F9F5;
position: relative;
padding-top: 90px;
}
.table-1 {
  background-color: #E4F9F5;
}
.p-one {
  background-color: #E4F9F5;
  font-size: 18px;
}
.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
 h1 {
  color: black;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  text-align: center;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;

}
  h3 {
    font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.25rem;

}
hr {
  background-color: #E4F9F5;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.image {
  background-color: #e6d5b8;
}
.circular {
  border-radius: 100%;
}


.hobbies {
  font-size: 30px;
}

.contactme {
  font-size: 30px;
}

.founder {
  font-size: 20px;
}
.degree {
  font-size: 20px;
}
.location {
  font-size: 20px;
}
.school {
  color: #4a3933;
  font-size: 20px;
}
.teachings {
  color: #4a3933;
  font-size: 20px;
}
.schooltable {
  font-size: 20px;
}
.skills {
  font-size: 30px;
}
.skilltable {
  font-size: 22px;
}
