body {
  background-color: #e6d5b8;
}

h1 {
  color: #4a3933;
}

h2 {
  color: #66BFBF;
}

hr {
  background-color: #e6d5b8;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.image {
  background-color: #e6d5b8;
}
.circular {
  border-radius: 100%;
}
.p-one {
  font-size: 25px;
}

.hobbies {
  font-size: 30px;
}

.contactme {
  font-size: 30px;
}

.founder {
  font-size: 20px;
}
.degree {
  font-size: 20px;
}
.location {
  font-size: 20px;
}
.school {
  color: #4a3933;
  font-size: 20px;
}
.teachings {
  color: #4a3933;
  font-size: 20px;
}
.schooltable {
  font-size: 20px;
}
.skills {
  font-size: 30px;
}
.skilltable {
  font-size: 22px;
}
